<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173776558093-kdm5bp2ba8a3ogovad4sj06hcgnpqi7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173776558093-kdm5bp2ba8a3ogovad4sj06hcgnpqi7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAUZVCFUsjJ9qrqQKFqbyvDF4J_hee54EM</string>
	<key>GCM_SENDER_ID</key>
	<string>173776558093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskApp</string>
	<key>PROJECT_ID</key>
	<string>task-app-bd9c6</string>
	<key>STORAGE_BUCKET</key>
	<string>task-app-bd9c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173776558093:ios:66d9a02bedefbef4c79d44</string>
</dict>
</plist>